<!-- Registration Page -->
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>Register Page</title>
	<link rel='icon' href='../resources/img/favicon.ico' type='image/x-icon'/>
    <!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<link href="../resources/css/my_style.css" rel="stylesheet">
  </head>
  <body>

	<img src="../resources/img/beproudcapaabanner.jpg" class="img-fluid" alt="Registration Page Banner for CU Football">
    <br>
	<br>
	<div class="container">
		<form action="home.html">

      <label for="input_id">Name:</label>
      <input type="email" name="my_email_field" placeholder="First Last">
      <br>
      <label for="input_id">Email:</label>
      <input type="email" name="my_email_field" placeholder="john@email.com">
      <br>
      <label for="input_id">Password:</label>
      <input type="password" name="my_pw_field">
      <br>
      <label for="input_id">Retype Password:</label>
      <input type="password" name="my_pw_field">
      <br>
      <br>
      <label for="input_id">Email:</label>
      <input type="email" name="my_email_field" placeholder="john@email.com">
      <br>
      <label for="input_id">Please choose which apply to you</label>
      <input type="radio" name="choice" value="Alumni" checked> Alumni
      <input type="radio" name="choice" value="Stuent"> Student
      <input type="radio" name="choice" value="Stuent"> Neither
      <br>
      <label for="input_id">Select as they apply</label>
      <input type="radio" name="choice" value="Stuent"> Undergraduate
      <input type="radio" name="choice" value="Stuent"> Graduate
      <input type="radio" name="choice" value="Stuent"> N/A
      <br>
      <label for="input_id">Undergraduate Select:</label>
      <input type="radio" name="choice" value="Stuent"> Freshman
      <input type="radio" name="choice" value="Stuent"> Sophomore
      <input type="radio" name="choice" value="Stuent"> Junior
      <input type="radio" name="choice" value="Stuent"> Senior
      <input type="radio" name="choice" value="Stuent"> N/A
      <br>
      <label for="input_id">Graduate Select:</label>
      <input type="radio" name="choice" value="Stuent"> MA
      <input type="radio" name="choice" value="Stuent"> MBA
      <input type="radio" name="choice" value="Stuent"> PHD
      <input type="radio" name="choice" value="Stuent"> N/A







			<!--
				Todo: Create a form with the following fields:
					1. Name Text Field
					2. Email Text Field
					3. Password Text Field
					4. Password Confirmation Text Field
					5. Email Text Field
					6. CU Boulder Alumni Radio Button
					7. CU Boulder Student Radio Button
					8. CU Boulder Undergrad/Grad Radio Button
					9. Undergraduate Select (Freshman-Senior)
					10. Graduate Select (MA, MBA, PhD)
					11. Submit Button (links to home page)

			-->

      <form action="home.html">
	       <input type="submit" value="submit" class="btn btn-primary btn-block">
       </form>



<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>
